        @import url('https://fonts.cdnfonts.com/css/brasika-display-trial');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Nunito+Sans:opsz,wght@6..12,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200&family=Roboto:ital,wght@0,100;0,300;0,700;1,100;1,300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
        * {
            box-sizing: border-box;
        }
        
        body {
            font-family: 'Brasika Display - Trial';
            height: 100vh;
            padding: 0.2px;
        }
        
        .wrapper {
            display: flex;
            gap: 1rem;
        }
        /* Left */
        
        #left {
            flex: 1;
        }
        
        #left .logo-word {
            margin: 38px auto auto 89.5px;
            color: var(--primary-main, #604DCF);
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        
        #left .logo-word>span {
            color: var(--gray-02100, #0A0A0A);
        }
        
        .authbox {
            width: 59%;
            margin: auto;
            margin-top: 3.4375rem;
        }
        
        .authbuttons {
            display: flex;
            flex-wrap: wrap;
            padding: 0.5rem 1rem 0.5rem 1rem;
            border-radius: 99px;
            background: var(--gray-0220, #F5F5F5);
        }
        
        .authbuttons a {
            flex: 1;
            padding: 0.5rem;
            text-decoration: none;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            color: #0A0A0A;
            text-align: center;
            /* 24px */
            letter-spacing: -0.16px;
        }
        
        .authbuttons a.login {
            border-radius: 99px;
            background: #E2DCFF;
            border-radius: 99px;
        }
        
        #left h1.title {
            margin: 2rem 0;
            color: #0A0A0A;
            font-size: 37px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        
        form input {
            display: block;
            margin: 0.25rem 0 1rem 0;
            width: 100%;
            padding: 0.6rem 0.75rem;
            border-radius: 0.375rem;
            border: 1px solid #C2C2C2;
            background: #FFF;
            outline-style: none;
        }
        
        form input::placeholder {
            color: #757575;
            /* Body Text/Inter/14/Regular */
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }
        
        form label {
            color: #424242;
            /* Body Text/Inter/16/Regular */
            font-family: Inter;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
        }
        /* input#password {
    background: url('../images/eye.svg') no-repeat 97% center;
} */
        
        .text-input {
            position: relative;
        }
        
        .password-eye {
            position: absolute;
            right: .5rem;
            top: 2.6rem;
            cursor: pointer;
        }
        
        .forgot-pass {
            display: block;
            text-align: right;
            color: #0A0A0A;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            margin-top: -14px;
            /* 142.857% */
            text-decoration-line: underline;
        }
        
        .primary-btn {
            background: #604DCF;
            border-radius: 6px;
            width: 100%;
            padding: 8px 16px;
            text-transform: uppercase;
            color: #FFF;
            font-family: Inter;
            font-weight: 500;
            margin-top: 30px;
        }
        
        .checkbox {
            display: flex;
            margin-top: 1rem;
            padding: 6px auto 6px auto;
        }
        
        .checkbox input {
            flex: 1;
        }
        
        .checkbox p {
            flex: 20;
            margin: 0;
            margin-left: .5rem;
            color: #424242;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }
        
        .or {
            margin: 36px 0;
            display: flex;
            align-items: center;
            gap: 18px;
        }
        
        .bar {
            flex: auto;
            border: none;
            background: #E0E0E0;
            height: 1px;
        }
        
        .or span {
            color: #0A0A0A;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }
        
        a.secondary-btn {
            display: block;
            width: 100%;
            text-align: center;
            background: #F5F5F5;
            background-size: 4%;
            padding: 14px 0;
            font-family: DM Sans;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            text-decoration: none;
        }
        
        .google-auth {
            position: relative;
        }
        
        .google-auth img {
            position: absolute;
            top: 32%;
            left: 30%;
            width: 1rem;
        }
        
        @media(max-width:1100px) {
            #left h1.title {
                font-size: 30px;
            }
            .or {
                margin: 26px 0;
            }
        }
        
        @media(max-width:440px) {
            #right {
                display: none;
            }
            #left h1.title {
                font-size: 25px;
            }
        }
        
        #right {
            height: 100vh;
            flex: 1;
            padding: 38px 51px 38px 0;
            width: 100;
        }
        
        #right .right-box {
            height: 100%;
            border-radius: 29px;
            background-color: #E2DCFF;
        }
        
        @media(max-width:779px) {
            #right {
                display: none;
            }
        }